#form.login .section {
  padding-top: 20rem;
}

#form.media .section {
  padding-top: 12rem;
}

#form .mw-wrapper,
#form .form-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
  width: 100%;
}

#form .btn-cta {
  margin-right: 0;
  color: var(--color-dark-3);
  padding: 1.5rem 3rem;
}

#form-login,
#form-media,
#form-blog {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
  padding: 3rem;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-sm);
}

#form .p {
  font-size: 3rem;
  line-height: 3.3rem;
}

#form .label span {
  font-size: 1.8rem;
  line-height: 2.3rem;
  margin-right: 1rem;
}

#form .input {
  font-size: 1.6rem;
  line-height: 2.1rem;
  border: 1px solid var(--color-dark-3);
  border-radius: var(--border-radius);
  width: 100%;
  margin-top: 1rem;
  padding: 1rem;
}

#form .textarea {
  font-size: 1.6rem;
  line-height: 2.1rem;
  border: 1px solid var(--color-dark-3);
  border-radius: var(--border-radius);
  min-height: 20rem;
  width: 100%;
  margin-top: 1rem;
  padding: 1rem;
}

#form .btn-form {
  font-size: 1.6rem;
  line-height: 2.1rem;
  color: var(--color-dark-3);
  margin-right: 0;
  padding: 1.2rem 3rem;
  border: 1px solid var(--color-dark-3);
  border-radius: var(--border-radius);
  width: fit-content;
}

#form .btn-form:hover {
  background-color: var(--color-dark-3);
  color: var(--color-light-1);
}
