.logo {
  height: 5rem;
  width:10rem;
  object-fit: cover;
}

@media screen and (min-width: 768px) {
  .logo {
    height: 5.5rem;
    width:11rem;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    height: 7rem;
    width:14rem;
  }
}