.map-wrapper {
  position: relative;
  height: 32rem;
  width: 100%;
  z-index: 0;
}

.map {
  height: 100%;
}

.leaflet-tile-pane {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}