.map-wrapper {
  position: relative;
  height: 32rem;
  width: 100%;
  z-index: 0;
}

.map {
  height: 100%;
}

.leaflet-tile-pane {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}

.leaflet-container .leaflet-marker-pane img {
  pointer-events: none;
}

@media screen and (min-width: 768px) {
  .map-wrapper {
    height: 40rem;
  }
}
