.photo-main {
  display:flex;
}

.photo-wrapper {
  font-size: 0; 
  margin-bottom: calc(var(--img-m) + var(--img-s)* 0.2885);
  padding-left: calc(var(--img-m) + var(--img-s) * 0.15);
}

.photo-wrapper::before {
  content: "";
  width: calc(var(--img-s)/2 + var(--img-m));
  float: left;
  height: 120%;
  shape-outside: repeating-linear-gradient(
    #0000 0 calc(var(--img-f) - 3px),
    #000  0 var(--img-f));
}

@media screen and (min-width: 425px) and (max-width: 456px) {
  .photo-wrapper {
    padding-left: 0;
  }
}

@media screen and (min-width: 768px) {
  .photo-wrapper {
    padding-left: calc(var(--img-m) + var(--img-s) * 0.2885);
  }
}

@media screen and (min-width: 1200px) {
  .photo-wrapper {
    padding-left: calc(var(--img-m) + var(--img-s) * 0.4);
  }
}