.photo-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: 3rem auto;
  padding-bottom: 11.2%;
  overflow: hidden;
  font-size: 15px;
  list-style-type: none;
}

@media screen and (max-width: 600px) {
  .photo-wrapper{
    padding-bottom: 11.2%;
  }
}

@media screen and (min-width:601px) and (max-width: 889px) {
  .photo-wrapper{
    padding-bottom: 7.4%;
  }
}

@media screen and (min-width: 900px) {
  .photo-wrapper{
    margin: 5rem auto;
    padding-bottom: 5.5%;
  }
}
