.photo {
  position: relative;
  visibility:hidden;
  outline: 3px solid transparent;
}

.photo::after{
  content:'';
  display:block;
  padding-bottom: 86.602%;
}

.photo-out{
  position: absolute;
  width:96%;
  padding-bottom: 110.851%;
  margin:0 2%;
  overflow: hidden;
  visibility: hidden;
  outline: 3px solid transparent;
  -webkit-transform: rotate3d(0,0,1,-60deg) skewY(30deg);
      -ms-transform: rotate3d(0,0,1,-60deg) skewY(30deg);
          transform: rotate3d(0,0,1,-60deg) skewY(30deg);
}
.photo-out * {
  position: absolute;
  visibility: visible;
  outline: 3px solid transparent;
}

.photo-in {
  display:block;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #fff;
  overflow: hidden;
  -webkit-transform: skewY(-30deg) rotate3d(0,0,1,60deg);
      -ms-transform: skewY(-30deg) rotate3d(0,0,1,60deg);
          transform: skewY(-30deg) rotate3d(0,0,1,60deg);
  outline: 3px solid transparent;
}

.photo:nth-child(odd) .photo-in {
  background-image: linear-gradient(120deg,
    var(--color-gold-5),
    var(--color-gold-2),
    var(--color-gold-4),
    var(--color-gold-5));
}

.photo:nth-child(even) .photo-in {
  background-image: linear-gradient(180deg,
    var(--color-gold-2),
    var(--color-gold-5),
    var(--color-gold-4),
    var(--color-gold-2));
}

.photo img {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 95%;
  width: 95%;
  object-fit: cover;
  clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
  margin: 0 auto;
  transform: translate(-50%, -50%);
  transition: transform 0.2s linear;
}

.photo img:hover {
  transform: translate(-50%, -50%) scale(0.99);
}

@media screen and (max-width: 600px) {
  .photo {
    width: 50%;
  }
  .photo:nth-child(3n+3) {
    margin-left:25%;
  }
}

@media screen and (min-width:601px) and (max-width: 889px) {
  .photo {
    width: 33.333%;
  }
  .photo:nth-child(5n+4) {
    margin-left:16.666%;
  }
}

@media screen and (min-width: 900px) {
  .photo {
    width: 25%;
  }
  .photo:nth-child(7n+5) {
    margin-left:12.5%;
  }
}
