.socials {
  position: fixed;
  top: 50%;
  right: 0.2rem;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  list-style-type: none;
  z-index: 1;
}

.social,
.social-img {
  height: 3rem;
  width: 3rem;
  border-radius: var(--border-radius);
}

@media screen and (min-width: 768px) {
  .social,
  .social-img {
    height: 3.5rem;
    width: 3.5rem;
  }
}

@media screen and (min-width: 1200px) {
  .socials {
    right: 1rem;
  }

  .social,
  .social-img {
    height: 4rem;
    width: 4rem;
  }
}
