#about .hero {
  position: relative;
  display: flex;
  align-items: center;
  text-align: center;
  background-image: url(../../public/backgrounds/bg-about/bg-1.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 50vh;
}

#about .hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: 
    radial-gradient(circle at 60% bottom, 
    var(--color-dark-1), 
    var(--color-dark-2), 
    var(--color-dark-3)
  );
  opacity: 0.9;
}

#about .hero .hero-wrapper,
#about .content {
  position: relative;
  z-index: 1;
}

#about .about-flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 2rem
}

#about .about-txt {
  width: 100%;
}

#about .li-marker {
  background-position: left top 0.4rem;
}

#about li {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.1rem;
  letter-spacing: 0.02rem;
}

#about .btn-cta {
  color: var(--color-dark-3);
  margin-left: 0;
}

#about .about-img {
  position: relative;
  width: 100%;
  max-width: 40rem;
  margin: 4rem auto 3rem;
  overflow: visible;
}

#about .about-img--img {
  position: relative;
  box-shadow: 0 0 5px 2px var(--color-gold-6);
  z-index: 1;
}

#about .about-img::before {
  content: '';
  position: absolute;
  top: -20px;
  left: -20px;
  height: calc(100% + 40px);
  width: 100%;
  background-image: linear-gradient(45deg, 
    var(--color-gold-1), 
    var(--color-gold-4), 
    var(--color-gold-5), 
    var(--color-gold-4), 
    var(--color-gold-3), 
    var(--color-gold-2));
}

#about .products {
  background-image: radial-gradient(circle at 60% bottom, 
    var(--color-dark-1), 
    var(--color-dark-2), 
    var(--color-dark-3)
  );
}

.tm {
  margin-left: auto;
  margin-right: auto;
}

.products-main {
  display:flex;
}

.products-wrapper {
  font-size: 0; /*disable white space between inline block element */
}

.products-wrapper::before {
  content: "";
  width: calc(var(--img-s)/2 + var(--img-m));
  float: left;
  height: 120%;
  shape-outside: repeating-linear-gradient(
    #0000 0 calc(var(--img-f) - 3px),
    #000  0 var(--img-f));
}

.products-wrapper div {
  width: var(--img-s);
  margin: var(--img-m);
  height: calc(var(--img-s)*1.1547); 
  display: inline-block;
  font-size:initial;
  clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
  margin-bottom: calc(var(--img-m) - var(--img-s)*0.2885); 
}

@media screen and (min-width: 768px) {
  #about .about-txt {
    width: 55%;
  }

  #about .about-img {
    width: 40%;
  }

  #about .about-img::before {
    left: unset;
    right: -20px;
  }

  #about li {
    font-size: 2rem;
    line-height: 3.5rem;
  }

  #about .li-marker {
    background-position: left top 0.7rem;
  }
}

@media screen and (min-width: 1200px) {
  #about .about-img {
    max-width: unset;
  } 
}
