#home .section {
  text-align: center;
  scroll-margin-top: 9.5rem;
}

#home .hero {
  position: relative;
  text-align: center;
}

#home .hero-hero {
  height: 99vh;
}

#home .offer-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 4rem 8rem;
}

#home .offer {
  position: relative;
  padding: 2rem 2.5rem;
  min-width: 32rem;
  width: 25%;
  height: 23rem;
  border-radius: var(--border-radius);
  z-index: 1;
}

#home .offer::before {
  content: '';
  top: 10px;
  left: -10px;
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: var(--border-radius);
  background-image: linear-gradient(45deg, var(--color-gold-1), var(--color-gold-4), var(--color-gold-5), var(--color-gold-4), var(--color-gold-3), var(--color-gold-2));
  z-index: -1;
}

#home .offer-cp {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  transition: background-size 0.15s linear;
  z-index: 2;
}

#home .offer.offer--1 .offer-cp {
  background-image: url(/public/images/home/auto-detailing-zewnetrzny.webp);
}

#home .offer.offer--2 .offer-cp {
  background-image: url(/public/images/home/folia-ppf.webp);
}

#home .offer.offer--3 .offer-cp {
  background-image: url(/public/images/home/auto-detailing-dodatkowe.webp);
}

#home .offer.offer--4 .offer-cp {
  background-image: url(/public/images/home/carbon.webp);
}

#home .offer.offer--5 .offer-cp {
  background-image: url(../../public/images/detailing/bg-3.webp);

}

#home .offer-cp:hover {
  background-size: 150%;
}

#home .offer-cp::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color-dark-3);
  border-radius: var(--border-radius);
  opacity: 0.6;
  z-index: 0;
}

#home .offer .h-h3,
#home .offer-link {
  position: relative;
  z-index: 3;
}

#home .about {
  position: relative;
  background-image:
    url(/public/images/home/bg-2.webp),
    radial-gradient(circle at 60% bottom,
      var(--color-dark-1),
      var(--color-dark-2),
      var(--color-dark-3));
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#home .about::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(circle at 60% bottom,
      var(--color-dark-1),
      var(--color-dark-2),
      var(--color-dark-3));
  opacity: 0.9;
}

#home .about .mw-wrapper {
  position: relative;
  z-index: 1;
}

#home .about-img {
  position: relative;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  border-radius: var(--border-radius);
  box-shadow: 1px 2px 4px -1px var(--color-gold-6);
  overflow: visible;
}

#home .about-img div[data-testid='container'] {
  border-radius: var(--border-radius);
  box-shadow: 1px 2px 4px -1px var(--color-gold-6);
}

#home .about-img img[data-testid='left-image'] {
  border-radius: var(--border-radius) 0 0 var(--border-radius);
}

#home .about-img img[data-testid='right-image'] {
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
}

#home .about-img::before {
  content: '';
  top: -10px;
  right: -10px;
  position: absolute;
  height: calc(100% + 20px);
  width: 100%;
  border-radius: var(--border-radius);
  background-image: linear-gradient(45deg,
      var(--color-gold-1),
      var(--color-gold-4),
      var(--color-gold-5),
      var(--color-gold-4),
      var(--color-gold-3),
      var(--color-gold-2));
}

#home .gallery {
  position: relative;
  text-align: left;
  z-index: 1;
}

#home .gallery-wrapper {
  padding-bottom: 5rem;
  font-size: 0;
}

#home .gallery .btn-cta {
  color: var(--color-dark-3);
}

@media screen and (min-width: 768px) {
  #home .p-lr {
    padding-left: 0;
    padding-right: 0;
  }

  #home .about-wrapper {
    display: grid;
    grid-template-areas:
      'l r'
      'l r';
    grid-template-columns: repeat(2, 50%);
    row-gap: 3rem;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    text-align: left;
  }

  #home .about-img {
    grid-area: r;
    margin-top: 0;
    margin-bottom: 0;
  }

  #home .about-img {
    position: relative;
    width: 50%;
  }

  #home .about-img .container {
    height: 100% !important;
  }

  #home .about-img::before {
    content: '';
    top: -25px;
    right: -25px;
    position: absolute;
    height: calc(100% + 50px);
    width: 100%;
    background-image: linear-gradient(45deg,
        var(--color-gold-5),
        var(--color-gold-3),
        var(--color-gold-4),
        var(--color-gold-2),
        var(--color-gold-4),
        var(--color-gold-3));
  }

  #home .about .btn-cta {
    margin: 0;
  }
}

@media screen and (min-width: 1200px) {
  #home .hero .btn-cta {
    font-size: 3rem;
    line-height: 4.5rem;
    max-width: 35rem;
  }

  #home .offer-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 8rem;
  }
}