#home .section {
  text-align: center;
  scroll-margin-top: 9.5rem;
}

#home .hero {
  position: relative;
  text-align: center;
}

#home .hero-hero {
  height: 99vh;
}

#home .hero-wrapper {
  position: absolute;
  top: calc(50% + 9.2rem);
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--color-light-1);
  width: 90%;
  z-index: 1;
}

#home .offer {
  position: relative;
  width: 100%;
  height: 35rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 130%;
  text-align: center;
  transition: background-size 0.15s linear;
}

#home .offer--2 {
  height: 40rem;
}

#home .offer:hover {
  background-size: 150%;
}

#home .offer::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color-dark-3);
  opacity: 0.7;
  z-index: 1;
}

#home .offer-cp {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  z-index: 2;
}

#home .offer--1 {
  clip-path: polygon(0 0, 100% 0, 100% 74%, 0% 100%);
  background-image: url(/public/images/home/auto-detailing-zewnetrzny.webp);
}

#home .offer--1 .offer-cp {
  top: 45%;
}

#home .offer--2 {
  margin-top: -8.5rem;
  clip-path: polygon(0 23%, 100% 0, 100% 77%, 0% 100%);
  background-image: url(/public/images/home/auto-detailing-wewnetrzny.webp);
}

.offer--2 .offer-cp {
  top: 55%;
}

#home .offer--3 {
  margin-top: -11.5rem;
  clip-path: polygon(0 35%, 100% 9%, 100% 100%, 0% 100%);
  background-image: url(/public/images/home/auto-detailing-dodatkowe.webp);
}

#home .offer--3 .offer-cp {
  top: 65%;
}

#home .about {
  position: relative;
  background-image: 
    url(/public/images/home/bg-2.webp), 
    radial-gradient(circle at 60% bottom, 
      var(--color-dark-1), 
      var(--color-dark-2), 
      var(--color-dark-3)
    );
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#home .about::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(circle at 60% bottom, 
    var(--color-dark-1), 
    var(--color-dark-2), 
    var(--color-dark-3)
  );
  opacity: 0.9;
}

#home .about .mw-wrapper {
  position: relative;
  z-index: 1;
}

#home .about-img {
  position: relative;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  border-radius: var(--border-radius);
  box-shadow: 1px 2px 4px -1px var(--color-gold-6);
  overflow: visible;
}

#home .about-img div[data-testid='container'] {
  border-radius: var(--border-radius);
  box-shadow: 1px 2px 4px -1px var(--color-gold-6);
}

#home .about-img img[data-testid='left-image'] {
  border-radius: var(--border-radius) 0 0 var(--border-radius);
}

#home .about-img img[data-testid='right-image'] {
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
}

#home .about-img::before {
  content: '';
  top: -10px;
  right: -10px;
  position: absolute;
  height: calc(100% + 20px);
  width: 100%;
  border-radius: var(--border-radius);
  background-image: linear-gradient(45deg, 
    var(--color-gold-1), 
    var(--color-gold-4), 
    var(--color-gold-5), 
    var(--color-gold-4), 
    var(--color-gold-3), 
    var(--color-gold-2));
}

#home .gallery {
  position: relative;
  text-align: left;
  z-index: 1;
}

#home .gallery-wrapper {
  padding-bottom: 5rem;
  font-size: 0;
}

#home .gallery .btn-cta {
  color: var(--color-dark-3);
}

@media screen and (min-width: 768px) {
  #home .p-lr {
    padding-left: 0;
    padding-right: 0;
  }
  
  #home .about-wrapper {
    display: grid;
    grid-template-areas: 
      'l r'
      'l r';
    grid-template-columns: repeat(2, 50%);
    row-gap: 3rem;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    text-align: left;
  }

  #home .about-img {
    grid-area: r;
    margin-top: 0;
    margin-bottom: 0;
  }

  #home .about-img {
    position: relative;
    width: 50%;
  }

  #home .about-img .container {
    height: 100% !important;
  }

  #home .about-img::before {
    content: '';
    top: -25px;
    right: -25px;
    position: absolute;
    height: calc(100% + 50px);
    width: 100%;
    background-image: linear-gradient(45deg, 
      var(--color-gold-5), 
      var(--color-gold-3), 
      var(--color-gold-4), 
      var(--color-gold-2), 
      var(--color-gold-4), 
      var(--color-gold-3));
  }

  #home .about .btn-cta {
    margin: 0;
  }
}

@media screen and (min-width: 1200px) {
  #home .hero .btn-cta {
    font-size: 3rem;
    line-height: 4.5rem;
    max-width: 35rem;
  }

  #home .offer-wrapper {
    position: relative;
    height: 500px;
  }

  #home .offer {
    position: absolute;
    top: 0;
    height: 500px;
  }

  #home .offer--1 {
    left: 0;
    clip-path: polygon(0 0, 100% 0, 86.5% 100%, 0% 100%);
    min-width: 35.2rem;
    width: 32.5vw;
    max-width: 50.2rem;
  }

  #home .offer--2 {
    left: 50%;
    transform: translateX(-50%);
    clip-path: polygon(12% 0, 100% 0, 88% 100%, 0% 100%);
    margin: 0;
    min-width: 40rem;
    width: 36.5vw;
    max-width: 55.9rem;
  }

  #home .offer--3 {
    right: 0;
    clip-path: polygon(13.5% 0, 100% 0, 100% 100%, 0% 100%);
    margin: 0;
    min-width: 35.2rem;
    width: 32.5vw;
    max-width: 50.2rem;
  }

  #home .offer--1 .offer-cp,
  #home .offer--2 .offer-cp,
  #home .offer--3 .offer-cp {
    top: 50%;
  }
}
